<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="card" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h1>Welcome <%= userName %> 😊</h1>
        <p>You have access to the main website.</p>
    </div>
</body>
</html>